{# 
Liste des pizzas 
#}
{% extends "layout.html.twig" %}

{% block title %}Liste des pizzas{% endblock %}

{% block content %}
        <div class="page-header">
          <h1>Liste des pizzas</h1>
        </div>
        {% for pizza in pizzas %}
        <article>
          <h2><a href="{{ path('pizza', { 'id': pizza.id_pizza }) }}">{{ pizza.libelle }}</a></h2>
          <p>{{ pizza.afficherIngredients() }}
        </article>
        {% endfor %}          
{% endblock %}